/*
COLOURS TO BE USED
White Text :- #f9fafc
Black Text :- #000506
Bg Colour  :- #74c8f2
highlight Text :- #bab7aa
*/

body{
	background-color: #74c8f2;
	margin: 0;
}

#pagetop{
	background-color: #74c8f2;
}
#topbar{
	height: 6.5rem;
	width: auto;
	background-color: #f9fafc;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.text-box {
	position: absolute;
    margin-left: 90rem;
    margin-top: 1.4rem;
    color: #000506;
}

.text-box2 {
	position: absolute;
    margin-left: 101rem;
    margin-top: 1.4rem;
    color: #000506;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
}

.btn:hover {
	color: #000506;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #bab7aa;
    color: #000506;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #74c8f2;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


.eimg{
	margin-top: 5rem;
	margin-left: -75px;
	display: inline-block;
}

.eimg3{
	margin-top: -10rem;
	margin-left: -75px;
	display: inline-block;
}

#etext{
	text-align: 50px;
	margin-top: -200px;
	margin-left: 320px;
	color: #000506;
}

#etextcsmt{
	margin-left: 14rem;
	margin-top: -200px;
}

.l-mid-text{
	justify-content: center;
	padding: 8em;
	color: #000506;
}
.l-mid-text1{			/*only for csmt.html*/
	justify-content: center;
	padding: 13em;
}

#logo{
	position: absolute;
	float: left;
	margin-left: 2rem;
	margin-top: 0.5rem;
	width: 10rem;
	display: inline-block;
}

#logo2{
	float: left;
	margin-left: -63px;
	margin-top: 40px;
	width: 40px;

	display: inline-block;
}

#header{
	position: relative;
	width: 1rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 3rem;
	font-weight: bolder;
	white-space: pre;
	margin-top: -10rem;
	margin-bottom: -4rem;
	margin-left: -10rem;
	background-color: #000506;
}

#fort1{
	position: relative;
	width: 17em;
	border-radius: 2em;
	margin-left: 16em;
	top: -15em;
	height: 330px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#ellora{
	position: relative;
	display: inline-block;
	width: 17em;
	border-radius: 2em;
	margin-left: 13em;
	top: -15em;
	height: 330px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.sub-text{
	margin-top: -70px;
	padding-left: 150px;
	padding-right: 150px;
	justify-items: center;
	white-space: pre-wrap;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 1.5em;
    position: relative;
    top: -4em;
    margin: 0.5em;
    padding: 0.5em 2em 0.5em 3em;
    color: #000506;
}

blockquote:before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 12em;
    line-height: 1;
    top: -0.2em;
    left: 0.2em;
    content: "\201C";
    color: #000506;
}
/*blockquote:after {
    font-family: Georgia, serif;
    position: absolute;
    display: block; 
    float:right;
    font-size:6em;
    line-height: 1;
    right:0;
    bottom:-0.5em;
    content: "\201D";
}*/
blockquote footer {
    padding: 0 2em 0 0;
    text-align:right;
}
blockquote cite:before {
    content: "\2013";
}

.mid-text{
    font-family: Georgia, serif;
    font-size: 1.5em;
    position: relative;
    top: -5em;
    margin: 0em;
	white-space: pre-wrap;
	padding-left: 150px;
	padding-right: 150px;
	color: #000506;
}

.list-text{
	font-family: Georgia, serif;
    font-size: 1.5rem;
    position: relative;
    top: -4rem;
	padding-left: 10rem;
	padding-right: 10rem;
	color: #000506;
}

#ellora{
	position: relative;
	width: 17em;
	border-radius: 2em;
	margin-left: 15em;
	top: -15em;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
#gateway{
	position: relative;
	margin-top: 7em;
    width: 17em;
    border-radius: 2em;
    margin-left: 3em;
    top: -15em;
    display: inline-block;
    box-shadow: 0px 3px 15px rgb(0 0 0 / 20%);
}
.ellora-mid-text{
    font-family: system-ui;
    font-size: 1.5em;
    text-decoration-style: none;
    position: relative;
    top: -5em;
    margin: 0em;
	white-space: pre-wrap;
	padding-left: 150px;
	padding-right: 150px;
	color: #000506;
	white-space: pre-wrap;
}

.ellora-mid-text1{			/*this only for tiger cave*/
    font-family: Georgia, serif;
    font-size: 1.5em;
    position: relative;
    top: 10em;
    margin: 3em;
	white-space: pre-wrap;
}

.s-text{
	font-family: system-ui;
    font-size: 1.5em;
    text-decoration-style: none;
    position: relative;
    top: -5em;
    margin: 0em;
	white-space: pre-wrap;
	padding-left: 150px;
	padding-right: 150px;
	color: #000506;
	white-space: pre-wrap;
}

.gateway-mid-text{
	font-family: system-ui;
    font-size: 1.5em;
    text-decoration-style: none;
    position: relative;
    top: 12em;
    margin: 0em;
	white-space: pre-wrap;
	padding-left: 150px;
	padding-right: 150px;
	color: #000506;
	white-space: pre-wrap;
}

#tiger-mid-text1{
	font-family: system-ui;
    font-size: 1.5em;
    text-decoration-style: none;
    position: relative;
    top: 8em;
    margin: 0em;
	white-space: pre-wrap;
	padding-left: 150px;
	padding-right: 150px;
	color: #000506;
	white-space: pre-wrap;
}
.c-viewer__iframem{
	position: absolute;
    height: 13rem;
    width: 20rem;
    top: 130px;
    left: 80em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.c-viewer__iframe {
    position: absolute;
    height: 20em;
    width: 20em;
    top: 15em;
    left: 10em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.c-viewer__iframe2 {
    position: absolute;
    height: 20em;
    width: 20em;
    top: 15em;
    left: 35em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}



.c-viewer__iframe3 {
    position: absolute;
    height: 20em;
    width: 20em;
    top: 15em;
    left: 60em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.c-viewer__iframe4{
	position: absolute;
    height: 20em;
    width: 20em;
    top: 18em;
    left: 38em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.c-viewer__iframe5{
	position: absolute;
    height: 20em;
    width: 20em;
    top: 18em;
    left: 10em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.c-viewer__iframe6{
	position: absolute;
    height: 20em;
    width: 20em;
    top: 18em;
    left: 65em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.c-viewer__iframea{
	position: absolute;
    height: 20em;
    width: 20em;
    top: 15em;
    left: 35em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.c-viewer__iframe8 {      /*for shivaji.html only*/
    position: absolute;
    height: 20em;
    width: 20em;
    top: 18em;
    left: 35em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.c-viewer__iframex{
	position: absolute;
    height: 20em;
    width: 20em;
    top: 15em;
    left: 10em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.c-viewer__iframey{
	position: absolute;
    height: 20em;
    width: 20em;
    top: 15em;
    left: 35em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.c-viewer__iframez{
	position: absolute;
    height: 20em;
    width: 20em;
    top: 15em;
    left: 60em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#img1{
	position: relative;
	width: 19em;
	border-radius: 2em;
	margin-left: 8em;
	top: 85em;
	margin-top: 17em;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	height: 18em;
}

#img2{
	position: relative;
	width: 19em;
	border-radius: 2em;
	margin-left: 8em;
	top: 85em;
	margin-top: 17em;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	height: 18em;
}

#img3{
	position: relative;
	width: 19em;
	border-radius: 2em;
	margin-left: 8em;
	top: 85em;
	margin-top: 17em;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
	height: 18em;
}


.search input[type=text]{
            width:300px;
            height:25px;
            border-radius:25px;
            border: none;
 
        }
.search{
	float:right;
	margin:7px;
}
.search button{
	background-color: #0074D9;
	color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.lmap{
	position: absolute;
    height: 20em;
    width: 20em;
    top: 15em;
    left: 35em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
.lmap2{
	position: absolute;
    height: 20em;
    width: 20em;
    top: 0em;
    left: 0em;
    border: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}


/*<=================Footer=================>*/

.footer-basic {
  padding:40px 0;
  background-color:#74c8f2;
  color:#f9fafc; 
  box-shadow: 0 0px 12px rgba(0, 0, 0, 0.5);
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #000506;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#f9fafc;
  margin-bottom:0;
}

.git{
	width: 1.3rem;
	margin-top: -0.6rem;
}

@media (max-width: 1669px){
	.text-box{
		margin-left: 75rem;
	}
	.text-box2{
		margin-left: 85rem;
	}
}

@media (max-width: 1500px){
	.text-box{
		margin-left: 65rem;
	}
	.text-box2{
		margin-left: 74rem;
	}
}

@media (max-width: 1400px){
	.text-box{
		margin-left: 57rem;
	}
	.text-box2{
		margin-left: 67rem;
	}
}

@media (max-width: 1300px){
	.text-box{
		margin-left: 50rem;
	}
	.text-box2{
		margin-left: 60rem;
	}
}

@media (max-width: 360px){
	#topbar{
		width: auto;
		height: 4rem;
	}
	#logo{
		width: 8rem;
		margin-left: 1rem;
		margin-top: -0.25rem;
	}
	#header{
		font-size: 1rem;
		margin-left: -3rem;
		margin-top: -2rem;
		margin-bottom: 5rem;
	}
	blockquote {
	    font-size: 1rem;
	}

	blockquote:before {
	    font-size: 10em;
	}
	blockquote footer {
	    padding: 0 2em 0 0;
	    text-align:right;
	}
	blockquote cite:before {
	    content: "\2013";
	}

	.text-box{
		margin-left: 5rem;
	}
	.text-box2{
		margin-left: 12rem;
	}
	.sub-text{
		white-space: pre-wrap;
		text-align: center;
		margin-top: -10rem;
		padding-left: 2rem;
		padding-right: 2rem;
		justify-items: center;
	}
	.mid-text{
		white-space: pre-wrap;
		text-align: center;
		margin-top: -5rem;
		padding-left: 2rem;
		padding-right: 2rem;
		justify-items: center;
	}
	.list-text{
		white-space: normal;
		margin-top: rem;
		padding-left: 2rem;
		padding-right: 2rem;
		justify-items: center;
	}
}